<div class="flex m-auto ">
        <!-- ///////////////card//////////// -->
        <div class="card m-5">
            <div class="card-header">
                <div class="title">Login</div>
            </div>
            <div class="card-body">
                <form class="form-group"[formGroup]="loginForm" (ngSubmit)="onsubmit()">
                    <div class="row m-1">
                        <div class="col-sm-3">
                            <label for="email" class="form-label">Email</label>
                        </div>
                        <div class="col-sm-5">
                            <input type="email" id="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid':email.errors}">
                        </div>
                        
                    </div> 
                    <div class="row m-1">
                        <div class="col-sm-3">
                            <label for="password" class="for-label">Password</label>
                        </div>
                      <div class="col-sm-5">
                        <input type="password" id="password" class="form-control" formControlName="password"[ngClass]="{'is-invalid':password.errors}">
                      </div>
                       
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button type="button" class="btn btn-primary" (click)="onsubmit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
</div>
