<div *ngIf="isWishlist; else EmptyPage">
<div *ngFor="let book of wishlist,let i=index" class="d-sm-inline-flex flex-wrap m-1">
   <div class="card">
    <img [src]="book.image" alt="book_image" class="card-img-top"/>
    <div class="card-body">
        <div class="m-1">
                {{book.title}}
            </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-warning m-auto text-white" (click)="AddCart(book)">
            Add to Cart</button>

    </div>
   </div>
</div>
</div>
<ng-template #EmptyPage>
     <h1 class="text-center text-secondary mt-5">There is no item in your wishlist</h1>
</ng-template>
