/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '~bs-stepper/dist/css/bs-stepper.min.css';

.hoverOver{
    cursor: pointer;
    text-decoration: none;
    color:grey;
}